<div id="wrapper">
  <div class="header">

    <div class="manager-photo-conrainer">
      <img src="./assets/images/my-face-1x.png" class="manager-photo" alt="manager photo">
    </div>
    <h3 class="manager-name">Vitaliy Duvalko</h3>
    <div class="manager-position">Менеджер по продажам</div>
    <div class="manager-status">Подберу для вас самые лучшие предложения.
      Мои услуги абсолютно бесплатны
    </div>
    <div class="container">
      <table class="manager-service-counter">
        <tr class="table-header">
          <th></th>
          <th><span class="count">Услуг</span></th>
        </tr>
        <tr class="table-content reserved">
          <td><div class="line"><div class="mark"></div><div class="mark-title">Ручное бронирование</div></div></td>
          <td><span class="count">11</span></td>
        </tr>
        <tr class="table-content tours">
          <td><div class="line"><div class="mark"></div><div class="mark-title">Пакетные туры</div></div></td>
          <td><span class="count">3</span></td>
        </tr>
        <tr class="table-content hostels">
          <td><div class="line"><div class="mark"></div><div class="mark-title">Отели</div></div></td>
          <td><span class="count">1</span></td>
        </tr>
        <tr class="all">
          <td>Всего</td>
          <td><span class="count">15</span></td>
        </tr>
      </table>
    </div>

  </div>


  <div class="review">
    Последние отзывы <a href="#">Все отзывы</a>
    <span class="like-count"><span class="like-icon"></span>131</span>
    <span class="posts-count" *ngIf="comments"><span class="posts-icon"></span>{{comments.length}}</span>
  </div>

  <div class="chat" *ngIf="comments; else messages">
    <div *ngFor="let comment of comments" [ngClass]="{'answer': comment.answer, 'comment': true}">
      <div class="message-info">
        <div class="user-name">{{comment.userName}}</div>
        <div class="time" *ngIf="!comment.answer">
          {{comment.date | date:'mediumDate'}}
        </div>
      </div>
      <div class="comment_content">
        {{comment.content}}
      </div>
    </div>
    <div *ngIf="!comments.length" class="no-reviews">
      Здесь пока нет отзывов
    </div>
  </div>

  <ng-template #messages>
    <div  class="message-load">
      <img src="./assets/images/giphy.gif" alt="loading">
    </div>
    <!-- Сообщений пока нет -->
  </ng-template>

  <div class="footer">
    <textarea autosize [disabled]="!user" [(ngModel)]="comment" class="write-msg" (keydown.control.Enter)="addComment()"></textarea>
    <button (click)="addComment()" [disabled]="!user" class="action-btn add-msg">Написать консультанту</button>
    <button (click)="loginIn()" *ngIf="!user" class="action-btn">Log-in</button>
    <button (click)="logOut()" *ngIf="user" class="action-btn">Log-Out</button>
  </div>
</div>
